.graphgg {
    /* background: rgb(116, 116, 116); */
    width: 100%;
    height: 100%;
}

.oldNetwork {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #000000;
    border-radius: 0.5rem;
    cursor: grab;
}

.myNetwork {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #000000;
    border-radius: 0.5rem;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oldSmNet {
    position: relative;
    width: 100%;
    height: 100%;
}

.smallNet {
    position: relative;
    width: 45% !important;
    height: 100% !important;
}

.te {
    color: #a10000;
}

.dNoneP {
    display: none;
}

.algStat {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    padding: 0.5rem;
    box-sizing: border-box;
    background: rgba(209, 209, 209, 0.322);
    backdrop-filter: blur(0.5rem);
    color: black;
    width: 100%;
    font-size: 1.2rem;
    z-index: 2;
}

.algStat .algoStatus {
    /* flex-grow: 1; */
}

.algStat .statContent {

    flex-grow: 1;
}

.algStat span {
    padding: 0.2rem;
    transition: 0.3s all ease-out;
}

#answerStat {
    font-weight: 600;
    font-size: 1.4rem;
}

.algStat .selEShow {
    background: rgb(255, 49, 49);
    color: white;
}

.dangerC {
    color: red;
    background: #fcffdf;
    width: fit-content;
}

.successC {
    color: green;
    background: #fcffdf;
    width: fit-content;
}


@media (max-width: 600px) {
    .myNetwork {
        flex-direction: column;
    }

    .smallNet {
        width: 100% !important;
        height: 45% !important;
    }

    .graphLSide {
        height: 40rem;
    }
}