
.goBack {
    position: absolute;
    font-size: 1.5rem;
    text-decoration: dashed;
    cursor: pointer;
    top: 5rem;
    left: 1rem;
}

.allRowP {
    transition: 0.3s all ease-out;
}

.right-side {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 35vw;
    margin-left: 1rem;
}



.ganttChart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.Boxes {
    display: inline-flex;
    border-right: 0.3rem solid whitesmoke;
    border-top: 0.3rem solid whitesmoke;
    border-bottom: 0.3rem solid whitesmoke;
}

.Box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-left: 0.3rem solid whitesmoke;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    transition: 0.3s all ease-out;
}

.deadlinesBoxes {
    display: inline-block;
}

.dBox {
    text-align: right;
    display: inline-block;
    width: 5.3rem;
    height: auto;
}

.dBox:nth-child(1) {
    text-align: left;
    position: absolute;
}

.theory-content {
    /* background: wheat; */
    font-size: 1.5rem;
    margin: 2rem 0;
}

.Table .row {
    background: var(--tdataColors);
}

.Table .JSBox {
    display: table-cell;
    /* background: var(--tdataColors); */
    border-bottom: 0.2rem solid black;
    border-right: 0.2rem solid black;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}



.makeBold {
    font-weight: 600;
}

.t2 {
    font-size: 1.5rem;
}


.Table .selectedBox {
    background: rgb(71, 71, 0);
    color: white;

    font-weight: 600;
}

.Table .goBox {
    background: rgb(37, 37, 3);
    color: white;
}

.Table .matchBox {
    background: green;
    color: white;
    background: rgb(71, 71, 0);
    color: white;
    font-weight: 600;
}

.selHight {
    animation: anHight infinite 1s normal;
}