.nBox {
    /* display: table-cell; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: var(--tdataSize); */
    /* height: var(--tdataSize); */
    font-size: var(--tfontSize);
    padding: 0.2rem;
    background: var(--tdataColors);
    color: black;
    box-sizing: border-box;
    text-align: center;
    width: 2.2rem;
}

.c12 {
    width: 5rem;
}

.brB {
    border-right: 0.2rem solid black;
}

.blB {
    border-left: 0.2rem solid black;
}

.btB {
    border-top: 0.2rem solid black;
}

.bbB {
    border-bottom: 0.2rem solid black;
}

.mainB2 {
    font-weight: 600;
    background: var(--somColor);
    color: white;
}

.mainB1 {
    font-weight: 600;
    background: var(--lightSomColor);
    color: black;
}

.kTable .krow:nth-child(2) .nBox {
    background: rgba(109, 1, 1, 0.678);
    color: white;
}

.kTable .krow:nth-child(2) .nBox:nth-child(1),
.kTable .krow:nth-child(2) .nBox:nth-child(2) {
    background: var(--somColor);
    color: white;
}

.kTable .krow .nBox:nth-child(3) {
    background: rgba(109, 1, 1, 0.678);
    color: white;
}

.kTable .krow:nth-child(1) .nBox:nth-child(3) {
    font-weight: 600;
    background: var(--lightSomColor);
    color: black;
}