.navbar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 0.5rem;
    height: 4rem;
    background: white;
    box-shadow: 0 0 0.8rem rgb(175, 175, 175);
    z-index: 10;
    box-sizing: border-box;
    opacity: 1;
    transition: 0.2s all ease-out;
}

.goUp{
    top: -4rem;
    opacity: 0;
}

.navbar .navImg {
    width: 4rem;
    height: 4rem;

}

.navbar .somLogo {
    width: 2.5rem;
    height: 2.5rem;
    /* background: grey; */
}

.kjLogo{
    height: 3.5rem;
}

.dkjLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.kjsit{
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    width: 15rem;
    font-weight: 600;
    color: black;
    margin-left: 0.4rem;
    gap: 0.4rem;
}

.kjhead{
    font-size: 0.8rem;
    color: red;
}


.somLogo2{
    position: absolute;
    top: 1rem;
    width: 50%;
    height: auto;
}

.navbar .head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
    /* background: rgb(226, 226, 226); */


}

.navbar .headLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    color: var(--somColor);
}

.navbar .naviLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
    gap: 1rem;
}

.naviLinks .dropNav {
    position: relative;
    /* background: grey; */
}

.dropNav .nL {
    font-size: 1.5rem;
    /* font-weight: 600; */
    background: rgba(255, 238, 205, 0.205);
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* cursor: pointer; */
    transition: 0.3s all ease-out;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.dropNav .nL:hover {
    background: rgba(255, 238, 205, 0.7);
}

.naviLinks .chosen .nL {
    background: rgb(255, 238, 205);
    font-weight: 600;
}


.naviLinks .chosen span {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 0.1rem;
    background: var(--somColor);
}

.navbar .contactus {
    background: rgb(0, 0, 97);
}

.dropNav .drop {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 5;
    min-width: 5rem;
    max-width: 80vw;
    width: max-content;
    background: rgb(255, 241, 214);
    border-radius: 0.3rem;
    color: rgb(138, 0, 0);
    padding: 0.3rem 0;
    border: 0.2rem solid rgb(218, 148, 148);
}

.drop .dropItem {
    text-align: center;
    text-decoration: none;
    transition: 0.3s all ease-out;
    width: 100%;
}

.dropItem .dropLink {
    text-decoration: none;
}

.drop .dropItem:hover p {
    background: rgba(255, 255, 255, 0.6);
}

.drop .dropItem p {
    /* background: white; */
    padding: 0.5rem;
    font-size: 1.3rem;
    color: var(--somColor);
    transition: 0.3s all ease-out;
    /* border-bottom: 0.15rem solid rgb(185, 185, 185); */
}

.dropItem .chosen,
.dropItem .dropItem:hover .chosen {
    background: white !important;
    font-weight: 600;
}

.sideBar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.6rem);
}

.sideBar .naviLinks {
    flex-direction: column;
    flex-grow: 0;
    margin-bottom: 1rem;
}

.sideBar .cancel {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.menuBar{
    display: none;
}

.somTR{
    width: 4rem;
    margin-left: 0.5rem;
}

.dflex {
    display: flex !important;
    margin-bottom: 1rem;
}


@media (max-width:900px) {
    .dkjLogo, .somTR{
        display: none;
    }
}

@media (max-width: 800px) {
    /* .navbar .somLogo {
        position: absolute;
        left: 0;
        width: 8rem;
    } */

    #idnavLink {
        display: none;
    }

    #idcontact {
        display: none;
    }
    .menuBar{
        display: block;
    }
    .dropNav .drop{
        right: 50%;
        transform: translate(50%);
    }
}

@media (max-width: 550px) {
    .kjsit{
        width: 10rem;
    }
}