.theorybg {
    background: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(0.11rem);
    border: 0.14rem solid rgba(116, 116, 116, 0.5);

    border-radius: 0.3rem;
    width: 95%;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 8rem;
}

.sectionsT {
    background: rgba(253, 213, 213, 0.1);
    margin: 0.5rem 0;
    padding: 1.5rem;
    /* border-top: 0.13rem solid rgba(167, 0, 0, 0.2); */
    /* border-bottom: 0.13rem solid rgba(167, 0, 0, 0.2); */
    box-sizing: border-box;
    width: 100%;
}

/* .sections *{
    margin: 0.3rem 0;
} */

.title1 {
    font-size: 2.3rem;
    font-weight: 700;
    /* padding: 0.8rem; */
    /* background: wheat; */
    /* width: fit-content; */
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(0, 21, 143);
    text-align: center;
}

.title2 {
    font-size: 1.6rem;
    font-weight: 650;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(0, 21, 143);
    text-align: center;
}

.hightText {
    background: rgba(255, 193, 193, 0.616);
    width: fit-content;
    color: rgb(110, 0, 0);
    padding: 0.15rem;
}

.hightText1 {
    background: rgba(105, 255, 75, 0.616);
    width: fit-content;
    color: rgb(4, 3, 73);
    padding: 0.15rem;
}

.hightText2 {
    background: rgb(130, 230, 255);
    width: fit-content;
    color: rgb(7, 21, 32);
    padding: 0.15rem;
}

.hightText3 {
    background: rgb(252, 164, 225);
    width: fit-content;
    color: rgb(53, 6, 6);
    padding: 0.15rem;
}

.hightText4 {
    background: rgb(242, 255, 183);
    width: fit-content;
    color: rgb(53, 6, 6);
    padding: 0.15rem;
}

.divider {
    margin: 0.5rem auto;
    text-align: center;
    background: rgba(92, 92, 92, 0.644);
    height: 0.2rem;
    width: 10rem;
    border-radius: 2rem;
}

.note {
    width: fit-content;
    border-style: dashed;
    border-color: rgb(59, 59, 59);
    border-width: 0.2rem;
    color: black;
    padding: 0.3rem;
    display: inline-block;
}

.note p {
    display: inline-block;
    margin: 0 0.3rem;
}

.nT {
    font-weight: 650;
}

.f1-1 {
    font-size: 1.1rem;
}

.f1-2 {
    font-size: 1.2rem;
}

.f1-3 {
    font-size: 1.3rem;
}

.f1-4 {
    font-size: 1.4rem;
}

.f1-5 {
    font-size: 1.5rem;
}

.f2 {
    font-size: 2rem;
}

.f4 {
    font-size: 4rem;
}

.f6 {
    font-size: 6rem;
}

.ols {
    margin-left: 2rem !important;
}


.ols li {
    margin: 0.8rem 0;
}

.mUpS {
    margin-top: 0.5rem;
}

.mUpM {
    margin-top: 1.2rem;
}

.mUpL {
    margin-top: 1.8rem;
}

.divf {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
}

.whF {
    width: 100vw;
    height: 100vh;
}

.im1 {
    width: 20rem;
}

.im2 {
    width: 30rem;
}

.mLeS {
    margin-left: 1rem;
}

.linkA {
    margin: 0 0.5rem;
    color: var(--somColor);
}

.dcontainer {
    flex-direction: row !important;
    padding-top: 4rem;
}

.remL {
    color: var(--somColor);
    text-decoration: none;
}


.lsNone {
    list-style: none;
}

.algorithm {
    padding: 0.5rem;
    background-color: #dfffc3;
    color: green;
    border: none;
    list-style: none;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.1rem !important;
    line-height: 1.5rem;
    width: fit-content;
}

.feedForm {
    width: 80vw;
    height: 3462px;
}

@media (max-width: 600px) {

    .im1,
    .im2 {
        width: 80vw;
    }

    .kim1 {
        width: 50vw;
    }
}


@media (max-width:300px) {
    .egCol {
        flex-direction: column;
        gap: 0.5rem;
    }
}